body {
	padding: 40px;
	background-color: #FFDEE9;
	background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}

.App {
	text-align: center;
	min-height: 100vh;
}

* {
	font-family: 'Grenze Gotisch', cursive;
}
